<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Show Page!</title>
</head>
<body>
  <h1>Animals</h1>
  <h2>Animal #<%= animal._id %></h2>
  <h3><%= animal.name %></h3>
  <p>Says: <%= animal.says %></p>
  <a href="/animals">Go Back</a>
</body>
</html>